<%= render @problem %>

<h1><%= @problem.title %></h1>
<div class="problem-container">
  <aside class="votes">
    <div>
      <% if logged_in? %>
        <%= render partial: 'shared/like', locals: { parent: @problem, page: @problem, category: "like" } %>
      <% end %>
    </div>
    <div class=<%= "red" if !!current_user && @problem.liked?(current_user) || @problem.disliked?(current_user) %>>
      <%= @problem.rating %>
    </div>
    <div>
      <% if logged_in? %>
        <%= render partial: 'shared/like', locals: { parent: @problem, page: @problem, category: "dislike" } %>
      <% end %> <%# I don't know why, but the page doesn't work with this end in place, even though it should definitely be there %>
    </div>
  </aside>
  <article>
    <%= @problem.description %>
  </article>
</div>
  <%= render partial: 'shared/new_comment', locals: { parent: @problem, page: @problem, text: "Comment" } %>

<details class="comments-container">
  <summary data-open="Hide Comments" data-close="Show Comments"></summary>
  <%= render partial: 'shared/show_comments', locals: { parent: @problem, page: @problem } %>
</details>

<%= button_to %>