<% parent.comments.all.each do |comment| %>
  <div class="comments">
    <div class="comment-content"><%= comment.content %></div>
    <div class="comment-bottom">
      <%= link_to comment.user.display_name, comment.user, class: "comment-name" %>
      <div class="comment-votes-container">
        <% if logged_in? %>
          <%= render partial: 'shared/like', locals: { parent: comment, page: page, category: "like" } %>
        <% end %>
        <span class=<%= "red" if logged_in? && (comment.liked?(current_user) || comment.disliked?(current_user)) %>>
          <%= comment.rating %>
        </span>
        <% if logged_in? %>
          <%= render partial: 'shared/like', locals: { parent: comment, page: page, category: "dislike" } %>
        <% end %>
      </div>
      <%= render partial: 'shared/new_comment', locals: { parent: comment, page: page, text: "Reply" } %>    
    </div>
  </div>
  <% if comment.comments.count > 0 %>
    <div class="indented-comment">
      <%= render partial: 'shared/show_comments', locals: { parent: comment, page: page } %>
    </div>
  <% end %>
<% end %>
