<!DOCTYPE html>
<html>
  <head>
    <title>BabyNeeds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= link_to "Problems", problems_path %> - 
      <%= link_to "Lost Items", lost_items_path %>
      <% if !!current_user %>
        <%= button_to "Logout", "/logout", method: :post %>
      <% else %>
        <%= link_to "Login", "/login" %>
      <% end %>
      <br>

    <%= yield %>
  </body>
</html>
