<!DOCTYPE html>
<html>
  <head>
    <title>BabyNeeds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div>
        <%= link_to "<button>Home</button>".html_safe, "/", class: "navlink" %> - 
        <%= link_to "<button>Problems</button>".html_safe, problems_path, class: "navlink" %> - 
        <button>Lost Items</button>
      </div>
      <div>
        <% if !!current_user %>
          <%= link_to "<button>Profile</button>".html_safe, "/users/#{current_user.id}", class: "navlink" %> - 
          <%= button_to "Logout", "/logout", class: "navlink", method: :post %>
        <% else %>
          <%= link_to "<button>Login</button>".html_safe, "/login", class: "navlink" %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
